body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    text-align: center; /* 모든 내용 가운데 정렬 */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.message-box {
    margin-top: 20px;
    padding: 15px;
    border: 2px dashed #333;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.message-box p {
    font-size: 18px;
    color: #555;
    margin: 0;
}

.margin {
    margin-top: 50px;
}

/* 추가 스타일 */
.chat-controls {
    margin-top: 30px;
}

.nickname-input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.chat-start-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: purple;
    color: white;
    font-size: 18px;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
}

.action-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.action-box {
    width: 45%;
    padding: 30px;
    background-color: #e0e0e0;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    color: black;
}

.action-box:hover {
    background-color: #6f47df;
}