<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Real-time Message</title>
     <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script> <!--웹에서 flask 5000번 포트와 통신 요청, 페이지(html)이 변경되면 소켓은 계속 새로 생성해서 연결해야 한다.-->
</head> 
<body>
    <h1>Real-time Flask Message</h1>
    <div id="messageBox">Waiting for message...</div>

    <script>
        const socket = io();

        socket.on('new_message', function(data) {
            document.getElementById('messageBox').innerText = data.message;
        });
    </script>
</body>
</html>
